#smartid-auth-progress {
  display: none;
}

#mobile-id-login-option,
#smart-id-login-option {
  display: none;
}

.auth-options {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #bbb;
}

.btn-id-card a {
  border-bottom: none;
  margin-right: 15px;
}

.btn-id-card a:hover {
  border-bottom: none;
}

.btn-mobile-id {
  margin-right: 15px;
}

.btn-mobile-id,
.btn-smart-id {
  cursor: pointer;
}

.btn-id-card:hover,
.btn-mobile-id:hover,
.btn-smart-id:hover {
  opacity: 0.7;
}

.smartid-auth-progress .status-code {
  font-weight: bold;
  margin: 0.5em 0 2em 0;
}

.smartid-auth-cancel {
  display: inline-block;
  margin-top: 2em;
}
